@import "styles/utils/all";

.overlay {
  opacity: 0;
  pointer-events: none;
  background: rgba($color-charcoal, 0);
  @include positionFixed($cover: true);
  @include set-z-index('below-modals');
  @include transition(all 0.225s);

  &.reveal {
    background: rgba($color-charcoal, 0.65);
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }
}

.panel {
  background: $color-off-white;
  width: 100vw;
  @include positionFixed($top: 0, $right: calc(-100% - 24px));
  @include set-z-index('modals');
  @include transition(all 0.225s);

  @include media_queries($tablet) {
    width: 456px;
    right: -480px;
  }

  &.reveal {
    right: 0;
  }
}

.contentWrapper {
  position: relative;
  height: calc(100% - 8px);

  &::before {
    width: v-rhythm(3);
    @include set-z-index('below-modals');
    @include positionAbsolute($top: 0, $bottom: 0, $left: v-rhythm(-3));
    @include pseudos;
    @include background-gradient($start-color: rgba($color-charcoal, 0), $end-color: rgba($color-charcoal, 0.5), $orientation: 'horizontal');
  }
}

.contentTopShadow {
  pointer-events: none;
  width: calc(100% - 16px);
  height: v-rhythm(3);
  @include pseudos;
  @include positionAbsolute($top: 74px, $left: 8px, $right: 8px);
  @include set-z-index('above-content');
  @include background-gradient($start-color: rgba(red, 0), $end-color: rgba($color-charcoal, 0.75), $orientation: 'vertical');
}

.contentBottomShadow {
  pointer-events: none;
  width: calc(100% - 16px);
  height: v-rhythm(3);
  @include pseudos;
  @include positionAbsolute($bottom: 0, $left: 8px, $right: 8px);
  @include set-z-index('above-modals');
  @include background-gradient($start-color: rgba($color-charcoal, 0.75), $end-color: rgba($color-charcoal, 0), $orientation: 'vertical');
  @include border-radius(v-rhythm(1), 'bottom');
}

.header {
  padding: v-rhythm(2) v-rhythm(3);

  &__text {
    color: $color-off-white;
    @include rs-type-scale(1);
  }
}

.closeButton {
  background: $color-charcoal;
  color: $color-off-white;
  border: none;
  width: v-rhythm(5);
  line-height: v-rhythm(5);
  font-size: type-scale(1);
  @include border-radius(v-rhythm(1));
  @include button-reset;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: $color-charcoal;
  margin: 0 v-rhythm(1);
  padding: v-rhythm(2) v-rhythm(2) v-rhythm(2) v-rhythm(2);
  overflow-y: auto;
  overflow-x: hidden;
  @include border-radius(v-rhythm(1))
}
