// maps
$config: (
  'base-font-size': 16px,
  'base-line-height': 1.5,
  'grid-base': 8,
  'grid-base-dense': 4
);

$z-index: (
  'above-everything': 1000,
  'above-preloaders': 135,
  'preloaders': 130,
  'below-preloaders': 125,
  'above-modals': 120,
  'modals': 115,
  'below-modals': 110,
  'above-navigation': 105,
  'navigation': 100,
  'below-navigation': 95,
  'above-content': 20,
  'noise': 17,
  'content': 15,
  'below-content': 10,
  'above-base': 5,
  'base': 0,
  'below-base': -1
);

// default colors
$color-razzmatazz-pink: #ff0073;
$color-maximum-red: #d81c1c;
$color-badlands-orange: #fc6114;
$color-marigold-yellow: #ffc107;
$color-dragonscale-green: #00a878;
$color-sea-green: #12b7b2;
$color-celestial-blue: #2280d6;
$color-vega-violet: #b74cfb;
$color-indigo: #6610f2;
$color-charcoal: #3f5068;
$color-vader-black: #0c090d;
$color-off-white: #fbf9ff;

$color-interval: 10%; // for the color-palette

// custom colors


// spacer
$spacer-xxs: 4px;
$spacer-xs: 8px;
$spacer-s: 16px;
$spacer-m: 24px;
$spacer-l: 40px;
$spacer-xl: 64px;
$spacer-xxl: 104px;

// bulma variable overrides
$small-tablet: 600px;
$tablet: 768px; // bulma override
$large-tablet: 960px;
$desktop: 1024px;
$large-desktop: 1280px;
$widescreen: 1366px; // bulma override
$hd: 1440px;
$super-hd: 1680px;
$ultra-hd: 1920px;
$cinema-hd: 2560px;

$primary: $color-sea-green;
$link: $color-celestial-blue;
$success: $color-dragonscale-green;
$warning: $color-marigold-yellow;
$danger: $color-maximum-red;

// bulma utlity variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';
